.h1-container{
    color: blueviolet;
}

.h2-container{
    color: brown;
}

.h3-container{
    color: chartreuse;
}

.h4-container{
    color: crimson;
}

.h5-container{
    color: darkolivegreen;
}

.h6-container{
    color: blueviolet;
}